.cg-wrap piece.pawn.white {
  background-image: url('/chess/pieces/wP.png');
}
.cg-wrap piece.bishop.white {
  background-image: url('/chess/pieces/wB.png');
}
.cg-wrap piece.knight.white {
  background-image: url('/chess/pieces/wN.png');
}
.cg-wrap piece.rook.white {
  background-image: url('/chess/pieces/wR.png');
}
.cg-wrap piece.queen.white {
  background-image: url('/chess/pieces/wQ.png');
}
.cg-wrap piece.king.white {
  background-image: url('/chess/pieces/wK.png');
}
.cg-wrap piece.pawn.black {
  background-image: url('/chess/pieces/bP.png');
}
.cg-wrap piece.bishop.black {
  background-image: url('/chess/pieces/bB.png');
}
.cg-wrap piece.knight.black {
  background-image: url('/chess/pieces/bN.png');
}
.cg-wrap piece.rook.black {
  background-image: url('/chess/pieces/bR.png');
}
.cg-wrap piece.queen.black {
  background-image: url('/chess/pieces/bQ.png');
}
.cg-wrap piece.king.black {
  background-image: url('/chess/pieces/bK.png');
}