OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyAqblAtrpuPwtrw0fkhNbGL2qkk641mWMs
ANTHROPIC_API_KEY=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